$primaryBlack: #000;
$primaryWhite: #fff;
$primaryGray: #9197b3;
$secondaryGray: #838383;
$userPositionColor: #757575;
$tableHeadGray: #b5b7c0;
$paginationButtonsColor: #404b52;
$inputBg: #f9fbff;
$contentBg: #fafbff;
$primaryGreen: #16c098;
$statusGreen: #008767;
$greenBorder: #00b087;
$greenBg: #16c09860;
$primaryRed: #df0404;
$redBg: #ffc5c5;
$hoverColor: #5932ea;
$pagBorder: #eee;
$pagBg: #f5f5f5;
